/* Reset some default browser styles for better consistency */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

#home,
#projects,
#contact {
  scroll-margin-top: 240px;
}

#projects {
  margin-top: 50px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  z-index: 999; /* Ensure the navbar is on top of other elements */
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left span {
  color: #fff;
  font-size: 1.2rem;
}

.navbar-right {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.navbar-right li {
  margin: 0 1rem;
}

.navbar-right a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-right a:hover {
  position: relative;
  top: 10px;
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  color: #333;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

header p {
  font-size: 1.2rem;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

h2 {
  border-bottom: 1px solid #333;
  padding-bottom: 0.5rem;
}

div {
  padding: 1rem;
  border-radius: 5px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-card {
  background-color: #f3eeee;
  padding: 1rem;
  width: 400px;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}
.project-card:hover {
  background-color: #9e9c9c;
  color: #fff;
}

.project-card img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.project-card h3 {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem;
}

.project-card p {
  font-size: 1rem;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  height: 100vh;
}

.footer-content {
  display: flex;
  height: 80vh;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.footer-title {
  margin-bottom: 30px;
}

.footer-title h2 {
  font-size: 3rem;
}

.footer-link ul {
  list-style: none;
}

.footer-link li {
  display: inline;
  margin: 0 10px;
}

.footer-link a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}

.footer-link a:hover {
  position: relative;
  top: 10px;
}

.footer-link i {
  font-size: 1.2rem;
}

.created {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0 0 0;
  height: 10vh;
  border-top: 4px solid white;
}

/* For animation transition */
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  nav {
    display: flex;
    flex-direction: column;
  }

  .navbar-left {
    margin-top: -5px;
    padding-top: 0;
  }

  .navbar-right {
    margin-top: -10px;
    padding-top: 0;
  }

  .navbar-right a:hover {
    position: relative;
    top: 5px;
  }

  header h1 {
    font-size: 1.5rem;
  }

  .project-card {
    width: 90vw;
  }

  .project-card img {
    width: 80vw;
    height: 300px;
  }

  .footer-title h2 {
    font-size: 1.5rem;
  }

  .footer-link a:hover {
    top: 5px;
  }

  header p,
  .footer-link a,
  footer p,
  .footer-link i {
    font-size: 0.8rem;
    font-weight: 300;
  }
}
